<h5>Comments</h5>

<%='No comments' if @comments.empty? %>

<% @comments.each do |comment| %>
  <div class="border rounded comment shadow-sm p-3 mb-5 bg-white">
    <strong><%= comment.commenter %></strong>

    <% if current_user %>
      <%= form_with(model:  [ @comment, @comment.likes.build ], local: true, class: 'form-group form-row') do |form| %>
          <%= form.text_field :comment_id, type: 'hidden', value: comment.id  %>
          <%= form.check_box :like, checked: true, style: 'display: none' %>
          <%= form.submit '+', class: 'btn btn-outline-primary' %>
      <% end %>
      <%= form_with(model: [ @comment, @comment.likes.build ], local: true, class: 'form-group form-row') do |form| %>
          <%= form.text_field :comment_id, type: 'hidden', value: comment.id  %>
          <%= form.check_box :like, checked: false, style: 'display: none' %>
          <%= form.submit '-', class: 'btn btn-outline-primary' %>
      <% end %>
    <% end %>
    <p><%= comment.plus %></p>
    <p><%= comment.minus %></p>
    <p class="float-right"><%= comment.created_at.strftime("%F %H:%M") %></p>
    <p><%= comment.body %></p>
  </div>
<% end %>

<div class="text-center">
  <%= will_paginate @comments, container: false %>
</div>

