<h5>Comments</h5>

<%='No comments' if @comments.empty? %>

<% @comments.each do |comment| %>
  <div class="border rounded comment shadow-sm p-3 mb-5 bg-white">
    <strong><%= comment.commenter %></strong>
    <p class="float-right"><%= comment.created_at.strftime("%F %H:%M") %></p>
    <p><%= comment.body %></p>
  </div>
<% end %>

<div class="text-center">
  <%= will_paginate @comments, container: false %>
</div>

