<h3>Users</h3>

<% @users.each do |user| %>
  <div class="border-bottom users clearfix">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h5><%= link_to user.name, user_path(user.id), class: 'navbar-brand' %></h5>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Edit', edit_user_path(user.id) %>
        </li>
        <li class="nav-item">Posts: <%= user.posts.size %></li>
        <li class="nav-item">Comments: <%= user.comments.size %></li>
      </ul>
    </nav>
    <p><%= user.email %></p>
    <p><%= user.access ? 'allowed' : 'blocked' %></p>
  </div>
<% end %>

<div class="text-center">
  <%= will_paginate @users, container: false %>
</div>