<%= form_with(model: @user, local: true, class: 'form-group form-user') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>
        <%= pluralize(@user.errors.count, 'error') %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </p>
  <%= f.submit class:'btn btn-outline-primary' %>
<% end %>
