<%= form_with(model: @post, html: { multipart: true }, local: true, class: 'form-group') do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@post.errors.count, 'error') %></h4>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= tinymce %>
    <%= form.text_area :body, class: 'tinymce', rows: '5' %>
  </p>

  <p>
    <%= form.label :img, 'Upload image' %><br>
    <%= form.file_field :img %>
  </p>

  <p>
    <%= form.submit class: 'btn btn-outline-primary' %>
  </p>
<% end %>
