<% if params[:name] %>
  <p class="text-center">
    Sort by Date:
    <%= link_to order_user_path(params[:name], 'last') do %>
      <i class="glyphicon glyphicon-sort-by-attributes"></i>
    <% end %>
    <%= link_to order_user_path(params[:name], 'old') do %>
      <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
    <% end %>
    by Rating:
    <%= link_to order_user_path(params[:name], 'high') do %>
      <i class="glyphicon glyphicon-sort-by-order-alt"></i>
    <% end %>
    <%= link_to order_user_path(params[:name], 'low') do %>
      <i class="glyphicon glyphicon-sort-by-order"></i>
    <% end %>
    by Views:
    <%= link_to order_user_path(params[:name],'many') do %>
      <i class="glyphicon glyphicon-sort-by-order-alt"></i>
    <% end %>
    <%= link_to order_user_path(params[:name], 'less') do %>
      <i class="glyphicon glyphicon-sort-by-order"></i>
    <% end %>
  </p>
<% else %>
  <p class="text-center">
    Sort by Date:
    <%= link_to order_path('last') do %>
      <i class="glyphicon glyphicon-sort-by-attributes"></i>
    <% end %>
    <%= link_to order_path('old') do %>
      <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
    <% end %>
    by Rating:
    <%= link_to order_path('high') do %>
      <i class="glyphicon glyphicon-sort-by-order-alt"></i>
    <% end %>
    <%= link_to order_path('low') do %>
      <i class="glyphicon glyphicon-sort-by-order"></i>
    <% end %>
    by Views:
    <%= link_to order_path('many') do %>
      <i class="glyphicon glyphicon-sort-by-order-alt"></i>
    <% end %>
    <%= link_to order_path('less') do %>
      <i class="glyphicon glyphicon-sort-by-order"></i>
    <% end %>
  </p>
<% end %>
