<h3><%= @post.title %></h3>

<p><%= @date %> <%= link_to @user, user_posts_path(@user) %></p>
<% if @post.img? %>
  <%= image_tag @post.img.url, width:350, class: 'img-thumbnail' %>
<% end %>
<p class="font-weight-normal"><%= @post.body %></p>

<%= render 'comments/comments' %>
<h4>Add a comment:</h4>
<%= render 'comments/form' %>
