<h3><%= @post.title %></h3>

<p><%= @date %> <%= link_to @user, user_posts_path(@user) %></p>
<% if @post.img? %>
  <%= image_tag @post.img.url, width:350, class: 'img-thumbnail' %>
<% end %>
<p class="font-weight-normal"><%= @post.body.html_safe %></p>
<% if @post.video %>
  <iframe width="500" height="310" src="https://www.youtube.com/embed/<%= @post.video %>"
          frameborder="0" allowfullscreen></iframe>
<% end %>

<%= render 'comments/comments' %>
<h4>Add a comment:</h4>
<%= render 'comments/form' %>
