<div class="menu">
  <ul class="nav">
    <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
    <% if current_user %>
      <li class="nav-item">
        <%= link_to new_post_path, class: 'nav-link' do %>
          <i class="fa fa-plus" aria-hidden="true"></i> New post
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_path(current_user.id), class: 'nav-link' do %>
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <%= current_user.name %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to logout_path, method: :delete, class: 'nav-link' do %>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Exit
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to new_session_path, class: 'nav-link' do %>
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Log in
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_path, class: 'nav-link' do %>
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Sign up
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
