<div class="menu">
  <ul class="nav">
    <li class="nav-item"><%= link_to 'Blog', root_path, class: 'nav-link' %></li>
    <% if current_user %>
      <li class="nav-item">
        <%= link_to new_post_path, class: 'nav-link' do %>
          <i class="glyphicon glyphicon-plus"></i> New post
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_path(current_user.id), class: 'nav-link' do %>
          <i class="glyphicon glyphicon-user"></i>
          <%= current_user.name %>
        <% end %>
      </li>
      <li class="nav-item"><%= link_to 'Exit', logout_path, method: :delete,
                                       class: 'nav-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'Log in', new_session_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Sign up', new_user_path, class: 'nav-link' %></li>
    <% end %>
  </ul>
</div>
