<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <h2><%= current_user.name %></h2>
    <ul>
      <li><%= link_to 'New post', new_post_path %></li>
      <li><%= link_to 'Profile', user_path(current_user.id) %></li>
      <li><%= link_to 'Exit', logout_path, method: :delete %></li>
    </ul>
  <% else %>
    <%= link_to 'Sign in', new_session_path %>
    <%= link_to 'Sign up', new_user_path %>
  <% end %>

  <%= link_to 'Blog', root_path %>
  <%= yield %>
  </body>
</html>
