<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <h2><%= current_user.name %></h2>
    <%= link_to 'exit', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'login', new_session_path %>
    <%= link_to 'sign in', new_user_path %>
  <% end %>

  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <% if current_user %>
      <li><%= link_to 'My posts', my_posts_path(current_user.id) %></li>
      <li><%= link_to 'New post', new_post_path %></li>
    <% end %>
  </ul>
  <%= yield %>
  </body>
</html>
